    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img
            src="/images/dead-inside-logo.svg"
            alt="Bulma: Free, open source, and modern CSS framework based on Flexbox"
            width="75%"
          />
        </a>

        {{!-- <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a> --}}

      </div>
    </nav>