<div class="row">
  <button class="modal-button">Highscores</button>
  <div class="modal" id="modal">
    <div class="modal-header"></div>
    <div class="title">Highscores,loser</div>
    <button class="close-button" id="close-button"> &times; </button>
    <div class="modal-body">Where the highscores go</div>
  </div>
<div id="overlay"></div>