<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dead Inside Games</title>
    {{! link to Bulma CDN }}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css"
    />
    {{! PIXI CDN }}
    <script src="https://pixijs.download/release/pixi.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img
            src="/images/logo-deadinside.png"
            alt="Bulma: Free, open source, and modern CSS framework based on Flexbox"
          />
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
        <a href="/">Main Page</a>
      </div>
    </nav>
    {{{body}}}
  </body>
</html>