<div
	style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;"
>
	<h1 style="margin-bottom: 20px;">404! That page doesn't exist!</h1>
	<img
		src="{{errorImage.imageURL}}"
		alt="404 error image"
		style="width: 30vw; margin-bottom: 20px;"
	/>
	<a href="/minesweeper" style="text-decoration: none; color: blue;">Why Don't You Head
		Back to Minesweeper?</a>
</div>