{{> header}}
<div class="wrap">
	<form class="columns is-centered" id="login-form" action="login">

		<header class="card-header">
			<p class="card-header-title">Login</p>
		</header>

		<div class="field">
			<label class="label">Username</label>
			<div class="control has-icons-left has-icons-right">
				<input class="input is-success" type="text" placeholder="Enter Username" id="username-login" />
				<span class="icon is-small is-left">
					<i class="fas fa-user"></i>
				</span>
				<span class="icon is-small is-right">
					<i class="fas fa-check"></i>
				</span>
			</div>
		</div>




		<div class="field">
			<label class="label">Password</label>
			<div class="control has-icons-left has-icons-right">
				<input class="input is-success" type="password" placeholder="Enter Password" id="password-login"/>
			</div>



			<div class="field is-grouped">
				<div class="control">
					<button class="button is-link">Submit</button>
				</div>
			</div>


			<p style="margin-bottom: 20" class="has-text-centered is-size-7">Forgot your password? TOO BAD! <br>
				Not a user? <a href="/signup"> Sign up!</a>
			</p>
	</form>
</div>
</form>
<script src="/js/login.js"></script>