{{#if loggedIn}}
<section class="grid">
    <img src="../assets/samplepic.png" alt="placeholder">
    <div class="start-button">
<button class="btn btn-primary" type="start">Start Game</button>
    </div> 
    <div class="row">
      <a href="username">username</a>
      <a href="placeholder">Highscores</a>
      <a href="placeholder">Logout</a>
      
    </div>
    

</section>
