<h1>Welcome to Minesweeper, {{username}}</h1>
<section class="grid">
  <script src="/js/game.js"></script>
  <div class="start-button">
    <button class="btn btn-primary" type="start">Start Game</button>
  </div>
  <div class="row">
    <button>Highscores</button>
    <div class="modal" id="modal"></div>
    <div class="modal-header"></div>
    <div class="title">Highscores,loser</div>
    <button class="close-button"> &times; </button>

    <div class="modal-body">Where the highscores go</div>
    <div id="overlay"></div>

    <a
      href="/api/userRoutes/logout/{{id}}"
      id="logout"
      class="btn-no-style"
    >Logout</a>

  </div>
  <script src="/js/logout.js"></script>
  <script src="/js/highscores.js"></script>
</section>