<h1>Welcome to Minesweeper, {{username}}</h1>
<section class="grid">
	<script src="/js/game.js"></script>
	<h1 id="lost" class="is-hidden">You Lose!</h1>
	<button id="reset" class="is-hidden">Play Again</button>
	<div class="start-button" id="start-btn">
		<button class="btn btn-primary" type="start">Start Game</button>
	</div>
	{{> minesweeperhighscores}}
	<div id="timer" class="is-hidden">Time Left: 120</div>
	<script src="/js/logout.js"></script>
	<script src="/js/startgame.js"></script>
	<script src="/js/highscore.js"></script>
</section>
<div class="logout-container">
	<a href="/api/userRoutes/logout/{{id}}" id="logout" class="btn-no-style">Logout</a>
</div>