<h1>Welcome to Minesweeper, {{username}}</h1>
<section class="grid">
  <script src="/js/game.js"></script>
  <div class="start-button">
    <button class="btn btn-primary" type="start">Start Game</button>
  </div>
  <div class="row">
    <a href="placeholder">Highscores</a>
    <a
      href="/api/userRoutes/logout/{{id}}"
      id="logout"
      class="btn-no-style"
    >Logout</a>

  </div>
  <script src="/public/js/logout.js"></script>
</section>