<div class="wrap">
  <form class="columns is-centered" action="signup">

    <header class="card-header">
      <p class="card-header-title">Sign up</p>
    </header>
    <div class="field">
      <label class="label">Name</label>
      <div class="control has-icons-left">
        <input class="input" type="text" placeholder="Enter your name" />
      </div>
    </div>

    <div class="field">
      <label class="label">Username</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input is-success" type="text" placeholder="Enter Username" />
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
      <p class="help is-success">This username is available</p>
    </div>

    <div class="field">
      <label class="label">Email</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input is-danger" type="email" placeholder="Enter Email" />
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
      </div>
      <p class="help is-danger">This email is invalid</p>
    </div>


    <div class="field">
      <label class="label">Password</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input is-success" type="text" placeholder="Enter Password" />
      </div>

      <div class="field">
        <label class="label">Retype Password</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-success" type="text" placeholder="Retype Password" />
        </div>

        <div class="field agree">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" />
              I agree to the
              <a href="#">terms and conditions</a>
            </label>
          </div>


          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Submit</button>
            </div>
            <p class="control">
              <button class="button is-link is-light">Cancel</button>
          </div>


          <p style="margin-bottom: 20" class="has-text-centered is-size-7">Already a user?
            <a href="/login"> Return to Login</a>
          </p>
  </form>
</div>
</form>
<script src="/js/signup.js"></script>