<h1>DEAD INSIDE</h1>
<form id="signup-form">
	<h1>LOGIN</h1>
	<label for="username">USERNAME:</label>
	<input type="text" id="username" name="username" /><br /><br />

	<label for="password">PASSWORD:</label>
	<input type="password" id="password" name="password" /><br /><br />

	<input type="submit" value="LOGIN" /><br /><br />

	<p>Already a user? <a href="/login">Login here!</a></p>
</form>
<script src="/js/signup.js"></script>